{% extends 'base.html' %}

{% block title %}
    My Projects
{% endblock title %}
{% block content %}
    <body>
        <header>
            <nav>
                <a href="{% url 'create_project' %}">Creation</a>
            </nav>
        </header>
        <main>
            <div>
                <h1>My Projects</h1>
                {% comment %} {% if projects_list|length == 0%} {% endcomment %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Num</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in project_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                </td>
                                <td>{{ project.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% comment %} {% else %} {% endcomment %}
                <p>You are not assigned to any projects</p>
                {% comment %} {% endif %} {% endcomment %}
            </div>
        </main>
    </body>
{% endblock content %}
{% load static %}
